.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}
.login > img {
  width: 100%;
}
.login > a {
  padding: 20px;
  background-color: #1db954;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  border-radius: 99px;
  -webkit-border-radius: 99px;
  -moz-border-radius: 99px;
  -ms-border-radius: 99px;
  -o-border-radius: 99px;
}
